@import "tailwindcss";

:root {
  --background: #F8F8F8;
  --foreground: #171717;
  --border: #CECECE;
  --secondary: #dbdada;
}

@theme {
  --font-sans: var(--font-inter), "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), "Inter", sans-serif;
}
